<web-app>
    <display-name>Pizzeria</display-name>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <display-name>UserManagerService</display-name>
        <servlet-name>gestion_utilisateur</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
	    <servlet>
        <display-name>CommandManagerService</display-name>
        <servlet-name>commandes</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
	    <servlet>
        <display-name>PaiementManagerService</display-name>
        <servlet-name>paiement</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
</web-app>
